@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
        font-family: "Montserrat", system-ui;
}



body {
	color: white;
	background: black;
}

section {
	width: 100vw;
	height: 100vh;
        /*border-bottom: solid 0.5px white;*/
}

.fill {
/*	border-left: solid 2px white;*/
	display: grid;
	align-content: center;
	justify-items: center;
	line-height: 10px;
}

.fill p {
	font-weight: bold;
}

section h1 {
	font-size: 7vw;
}

section p {
	font-size: 3vw;
}

.arrow {
	transform: rotate(90deg);
	position: absolute;
	bottom: 1;
	font-size: 6vw;
	color: grey;
	transition: 500ms ease;
	animation: opacity-anim 1s infinite;
}

@keyframes opacity-anim {
	0% {
		opacity: 0.5;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0.5
	}
}

.fill img {
	z-index: -999;
}


.about p {
	margin: 5vw;
	font-size: 4vw;
}

nav {
	user-select: none;
}

nav a {
	text-decoration: none;
}

nav .logo {
	color: black;
	background-color: white;
	padding: 0 3vw;
	margin-left: 2vw;
	border-radius: 5px;
	font-size: 6vw;
}
.right {
	padding: 3vw;
	font-size: 4vw;
	float: right;
}

.previews {

	display: grid;
	justify-items: center;
	align-content: center;
	text-align: center;
}

.previews img {
	width: 80vw;
	height: 10vh;
	border-radius: 10px;
	box-shadow: 0 0 0 1px white;
}

.previews img {
	margin-top: 100px;
}

.pricing {
	margin-left: 5vw;
}

.pricing p {
	font-size: 4vw;
	font-weight: bold;
}


.small {
	font-size: 5vw;
}


.top-margin {
	margin-top: 20vh;
}

.center {
	text-align: center;
}


ul {
	font-size: 4vw;
	font-weight: bold;
}

.contact {
	margin-top: 6vh;
	min-height: 20vh;
}

.contact h1 {
	font-size: 7vw;
	text-align: center;
	text-shadow: 0 0 10px white;
}



.contact a {
	font-size: 2vh;
	margin-left: 5vw;
}

.opt {
	margin-left: 25vw;
}

.opt a {
	text-decoration: underline;
	color: white;
}
